$particles: 50;
$width: 500;
$height: 500;

// Create the explosion...
$box-shadow: ();
$box-shadow2: ();
@for $i from 0 through $particles {
  $box-shadow: $box-shadow,
               random($width)-$width / 2 + px
               random($height)-$height / 1.2 + px
               hsl(random(360), 100, 50);
  $box-shadow2: $box-shadow2, 0 0 #fff
}
@mixin keyframes ($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }

    @-moz-keyframes #{$animationName} {
        @content;
    }

    @-o-keyframes #{$animationName} {
        @content;
    }

    @-ms-keyframes #{$animationName} {
        @content;
    }

    @keyframes #{$animationName} {
        @content;
    }
}

@mixin animation-delay ($settings) {
    -moz-animation-delay: $settings;
    -webkit-animation-delay: $settings;
    -o-animation-delay: $settings;
    -ms-animation-delay: $settings;
    animation-delay: $settings;
}

@mixin animation-duration ($settings) {
    -moz-animation-duration: $settings;
    -webkit-animation-duration: $settings;
    -o-animation-duration: $settings;
    -ms-animation-duration: $settings;
    animation-duration: $settings;
}

@mixin animation ($settings) {
    -moz-animation: $settings;
    -webkit-animation: $settings;
    -o-animation: $settings;
    -ms-animation: $settings;
    animation: $settings;
}

@mixin transform ($settings) {
    transform: $settings;
    -moz-transform: $settings;
    -webkit-transform: $settings;
    -o-transform: $settings;
    -ms-transform: $settings;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.message-app {
  width: 100%;
  min-height: 100vh;
  background: #eee4e1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p, h2 {
    font-family: 'Open Sans', sans-serif;
  }
  .h2-message {
    margin: 0;
    transition: 0.3s;
    margin-bottom: 130px;
    font-size: 30px;
  }
  .confetti {
    position: absolute;
    width: 200px;
    transition: 0.3s;
  }
  .p-message {
    margin: 0;
    margin-top: 24px;
    font-size: 24px;
  }
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: $box-shadow2;
  @include animation((1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards));
}
    
.pyro > .after {
  @include animation-delay((1.25s, 1.25s, 1.25s));
  @include animation-duration((1.25s, 1.25s, 6.25s));
}
        
@include keyframes(bang) {
  to {
    box-shadow:$box-shadow;
  }
}
    
@include keyframes(gravity)  {
  to {
    @include transform(translateY(200px));
    opacity: 0;
  }
}
    
@include keyframes(position) {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {  
    margin-top: 20%;
    margin-left: 70%
  }
  60%, 79.9% {  
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {  
    margin-top: 30%;
    margin-left: 80%;
  }
}


@import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap');
/*----Variables ----*/
$white: #FEFEFE;
$envelope-color-1: #F6CFCA;
$envelope-color-2: #f4dad7;
$envelope-color-3: #FBE8E5;
$envelope-width: 150px;
$envelope-height: 80px;
$paper-width: 100px;
$paper-height: 70px;
$triangle-height: calc(#{$envelope-height} / 2);
$triangle-width: calc(#{$envelope-width} / 2);
$paper-border-radius: 3px;
$bezier: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
/*----Abstract Classes ----*/
%absolute-center {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
%box-1 {
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06);
}
%box-2 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
/*----Components ----*/
.design {
  position: relative;
}

.envelope {
  @extend %box-1;
  background: $envelope-color-1;
  width: $envelope-width;
  height: $envelope-height;
  
  &:hover {
    cursor: pointer;
  }

  &.open {
    .cover .top {
        transform: scaleY(-1);
        transform-origin: top;
        z-index: 0;
      }
      
      .paper {
        transform: translate(-50%, -100px);
        transition : $bezier;
        z-index: 5;
      }
  }
  
  .paper {
    @extend %absolute-center, %box-2;
    width: $paper-width;
    height: $paper-height; 
    background: #f4e9cd;
    border-radius: $paper-border-radius;
    
    .message {
      @extend %absolute-center;
      font-family: 'Sacramento', cursive;
      text-align: center;
    }
  }
  
  .cover {
    position: relative;
    
    .top, .left, .right, .bottom {       
      position: absolute;
      width: $envelope-width;
      z-index: 1;
    }
    
    .left, .right {
      background: $envelope-color-2;
      width: $triangle-width;
      height: $envelope-height;
    }
    
    .top {
      height: calc(#{$envelope-height} - 10px);
      background: $envelope-color-1;
    -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
      clip-path: polygon(0 0, 50% 100%, 100% 0);
    }

    .left {
        left: 0;
      -webkit-clip-path: polygon(0 0, 0 100%, 100% 50%);
        clip-path: polygon(0 0, 0 100%, 100% 50%);
    }

    .right {
        right: 0;
        -webkit-clip-path: polygon(0 50%, 100% 0, 100% 100%);
        clip-path: polygon(0 50%, 100% 0, 100% 100%);
    }

    .bottom {
        top: $triangle-height;  
        height: $triangle-height;
        background: $envelope-color-3;
      -webkit-clip-path: polygon(0 100%, 50% 0%, 100% 100%);   
        clip-path: polygon(0 100%, 50% 0%, 100% 100%);   
    }
  }
}

$modal-background: #875794;

#modal-skew-from-left {
  top: 50%;
  left: 0;
  transform: skewX(40deg) translate(-200%, -50%);
  // Animation out
  transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  
  &.show {
    left: 50%;
    // Animation in
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translate(-50%, -50%);
  }
}

#modal-skew-from-top {
  top: 0;
  left: 50%;
  transform: skewY(40deg) translate(-50%, -200%);
  // Animation out
  transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  
  &.show {
    top: 50%;
    // Animation in
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: translate(-50%, -50%);
  }
}

#modal-flip-from-left {
  top: 50%;
  left: -200%;
  transform: translate(-50%, -50%);
  
  &.show {
    left: 50%;
    animation: modal-flip-from-left-show 1s;
  }
  
  &.hide {
    left: -200%;
    transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
}

@keyframes modal-flip-from-left-show {
  0% {
    left: -200%;
    transform: translate(-50%, -50%) rotateY(-180deg);
  }
  80% {
    transform: translate(-50%, -50%) rotateY(-180deg);
  }
  90% {
    left: 50%;
    transform: translate(-50%, -50%) rotateY(-90deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateY(0deg);
  }
}

#modal-flip-from-top {
  top: -200%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  &.show {
    top: 50%;
    animation: modal-flip-from-top-show 1s;
  }
  &.hide {
    top: -200%;
    transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
}

@keyframes modal-flip-from-top-show {
  0% {
    top: -200%;
    transform: translate(-50%, -50%) rotateX(-180deg);
  }
  80% {
    transform: translate(-50%, -50%) rotateX(-180deg);
  }
  90% {
    top: 50%;
    transform: translate(-50%, -50%) rotateX(-90deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateX(0deg);
  }
}

#modal-zoom-in {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  
  &.show {
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}

#modal-drop-in {
  top: -200%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  &.show {
    top: 50%;
    animation: bounce-out 1s;
  }
}

@keyframes bounce-out {
  0% {
    top: -200%;
  }
  25% {
    top: 50%;
  }
  40% {
    top: 35%;
  }
  55% {
    top: 50%;
  }
  70% {
    top: 42%;
  }
  85% {
    top: 50%;
  }
  95% {
    top: 48%;
  }
  100% {
    top: 50%;
  }
}
h1 {
  margin-bottom: 75px;
  font-size: 55px;
  line-height: 1.2;
}

h2 {
  margin: 0 0 25px;
}

footer {
  margin: 75px 0 35px;
}

a {
  color: #13A865;
  text-decoration: none;
  
  &:hover {
    color: lighten(#13A865, 15%);
  }
}

form {
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    margin-left: 10px;
  }
  
  input[type="submit"] {
    margin: 0;
    padding: 6px 20px;
    color: #333;
  }
}

.buttons {
  width: 80%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  overflow: hidden;
  
  li {
    width:50%;
    margin: 0 auto 30px;
    float: left;
    padding-bottom: 30px;
    /* border-bottom: 1px solid #6C7994; */
  }
  
  button {
    padding: 6px 20px;
    background: #fff;
    border: none;
    border-radius: 4px;
    color: #333;
  }
}

.card-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  h3, p, h5 {
    // font-family: 'Sacramento', cursive;
    font-family: 'Handlee', cursive;
    color: black;
  }
  h3 {
    font-size: 28px;
    margin: 0;
  }
  .wrapper-note {
    align-self: flex-end;
  }
  .sign {
    font-family: 'Sacramento', cursive;
    font-size: 24px;
  }
  .icon {
    width: 12px;
  }
  .cake {
    width: 30px;
    margin-left: 12px;
    margin-bottom: -4px;
  }
  p {
    text-align: justify;
    font-size: 16px;
  }
  img {
    object-fit: cover;
  }
  .wrapper-img {
    position: relative;
    display: inline-block;
    margin-bottom: 14px;
  }
  .talia {
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }
  .hat {
    position: absolute;
    top: 3px;
    right: 50px;
    width: 50px;
  }
}

.modal-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(#454545, 0.7);
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  
  &.show {
    display: block;
    opacity: 1;
    pointer-events: auto;
    animation: fadein 0.8s;
    z-index: 10;
    overflow: hidden;
  }
  
  &.hide {
    animation: fadeout 0.8s;
    overflow: hidden;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.modal {
  position: absolute;
  padding: 24px;
  box-shadow: 0px 0px 8px 0px #333;
  background: #f4e9cd;
  color: black;
  text-align: left;
  transform-style: preserve-3d;
  z-index: 10;
  border-radius: 4px;
  width: 300px;
  min-height: 500px;
  
  .face-3d {
    backface-visibility: hidden;
  }
  
  .back-3d {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background: $modal-background;
    transform: rotateY(180deg);
  }
}

  



